<h1>質問の詳細</h1>
<%= link_to '投稿一覧', questions_path, class: 'btn btn-primary' %>
<%= link_to '編集', edit_question_path ,class: 'btn btn-primary' %>
<%= link_to '削除', @question, method: :delete, data: { confirm: "質問『#{@question.title}』を削除します。よろしいですか？"}, class: 'btn btn-primary' %>

<table class="table">
  <tbody>
    <tr>
      <th><%= Question.human_attribute_name :id %></th>
      <td><%= @question.id %></td>
    </tr>
    <tr>
      <th><%= Question.human_attribute_name :title %></th>
      <td><%= @question.title %></td>
    </tr>
    <tr>
      <th><%= Question.human_attribute_name :body %></th>
      <td><%= simple_format(h(@question.body), {}, sanitize: false, wrapper_tag: "div") %></td>
    </tr>
    <tr>
      <th><%= Question.human_attribute_name :created_at %></th>
      <td><%= @question.created_at %></td>
    </tr>
    <tr>
      <th><%= Question.human_attribute_name :updated_at %></th>
      <td><%= @question.updated_at %></td>
    </tr>
  </tbody>
</table>

<h2>回答</h2>
<%= form_with model: [@question, Answer.new] do |f| %>
  <%= f.text_area :body %>
  <%= f.submit %>
<% end %>

<h2>回答一覧</h2>
<ul>
  <% @question.answers.each do |answer| %>
    <li>
      <%= answer.body %>
      <% if answer.user_id == current_user.id %>
        <%= link_to '削除', question_answer_path(@question, answer), method: :delete, data: { confirm: "削除します。よろしいですか？"}, class: 'btn btn-primary' %>
      <% end %>
    </li>
  <% end %>
</ul>
