<div class="card text-left">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th><%= User.human_attribute_name :name %></th>
          <th><%= User.human_attribute_name(:email) %></th>
          <th><%= User.human_attribute_name(:admin) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <th><%= link_to user.name, [:admin, user] %></th>
            <th><%= user.email %></th>
            <th><%= user.admin? ? 'あり' : 'なし' %></th>
            <th>
              <%= link_to '削除', [:admin, user], method: :delete, data: { confirm: "タスク『#{user.name}』を削除します。よろしいですか？"}, class: 'btn btn-danger btn-sm' %>
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @users %>
  </div>

</div>


