<!DOCTYPE html>
<html>
  <head>
    <title>QARoom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/alert' %>

    <div class="container">


      <div class="row">
        <div class="col-12">横幅12分の12の領域</div>
      </div>




      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
